<div class="modal fade" tabindex="-1" id="delete-task-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post">
                {{ actionInput('entries/save-entry') }}
                {{ hiddenInput('entryId', task.id) }}
                {{ hiddenInput('enabled', 0) }}
                {{ successMessageInput('Task has been deleted'|t('site')) }}
                {{ redirectInput('/tasks') }}
                {{ csrfInput() }}
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Delete task'|t }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ 'This will delete the task and all time spent on it, are you sure ?'|t }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|t }}</button>
                    <button type="submit" class="js-delete btn btn-primary">{{ 'Delete'|t }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
