{% from "_helpers/errors" import errorList %}

{% set task = task ?? null %}
{% set copy_id = copy_id ?? null %}

{% macro week(block, type, index) %}
    <div class="row week">
        <input type="hidden" class="type" name="fields[weeks][{{ index }}][type]" value="{{ type.id }}">
        <input type="hidden" class="enabled" name="fields[weeks][{{ index }}][enabled]" value="1">
        {% for day in ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'] %}
            <div class="col-3 col-md p-1">
                <label>{{ day|capitalize|t }}</label>
                {{ input('number', 'fields[weeks][' ~ index ~ '][fields][' ~ day ~ ']', block ? block[day] : 1, {
                    class: 'form-control day' ~ (block and block.hasErrors(day) ? ' is-invalid' : ''),
                    min: 0,
                    step: 0.1,
                    data: {
                        day: day
                    }
                }) }}
            </div>
        {% endfor %}
        {% if block %}
            {{ errorList(block.getErrors('mon')) }}
            {{ errorList(block.getErrors('tue')) }}
            {{ errorList(block.getErrors('wed')) }}
            {{ errorList(block.getErrors('thu')) }}
            {{ errorList(block.getErrors('fri')) }}
            {{ errorList(block.getErrors('sat')) }}
            {{ errorList(block.getErrors('sun')) }}
        {% endif %}
    </div>
{% endmacro %}

<form id="add-task-form" method="post">
    {% set section = craft.app.sections.getSectionByHandle('task') %}
    {{ csrfInput() }}
    {{ actionInput('entries/save-entry') }}
    {{ hiddenInput('sectionId', section.id) }}
    {{ hiddenInput('enabled', '1') }}
    {{ hiddenInput('entryVariable', 'task'|hash) }}
    {{ redirectInput('/tasks') }}
    {{ successMessageInput('Task saved'|t) }}
    {{ failMessageInput('Please fix the validation errors'|t) }}
    {% if task and not copy_id %}
        {{ hiddenInput('entryId', task.id) }}
    {% endif %}

    <div class="form-group mb-3 field-title">
        <label for="name" class="required">{{ 'Name'|t }}</label>
        {{ input('text', 'title', copy_id ? '' : (task.title ?? ''), {
            id: 'title',
            class: 'form-control' ~ (task and task.hasErrors('title') ? ' is-invalid' : '')
        }) }}
        {% if task %}
            {{ errorList(task.getErrors('title')) }}
        {% endif %}
    </div>

    <div class="form-group mb-3 field-startDate">
        <label for="startDate" class="required">{{ 'Start date'|t }}</label>
        <input type="hidden" class="timezone" name="fields[startDate][timezone]" value="{{ currentUser.timezone }}">
        {{ input('text', 'fields[startDate][date]', task ? task.startDate|date('Y-m-d', currentUser.timezone) : now|date('Y-m-d', currentUser.timezone), {
            id: 'startDate',
            class: 'form-control datepicker' ~ (task and task.hasErrors('startDate') ? ' is-invalid' : ''),
            data: {
                options: {
                    minDate: now|date('Y-m-d', currentUser.timezone),
                    altInput: true,
                    altFormat: 'd/m/Y',
                    dateFormat: 'Y-m-d'
                    disableMobile: true
                }
            }
        }) }}
        {% if task %}
            {{ errorList(task.getErrors('startDate')) }}
        {% endif %}
    </div>

    <div class="form-group mb-3">
        <label for="deadline" class="required">{{ 'Deadline'|t }}</label>
        {{ input('text', 'fields[deadline]', task ? task.deadline|date('H:i') : '23:59', {
            id: 'deadline',
            class: 'form-control datepicker' ~ (task and task.hasErrors('deadline') ? ' is-invalid' : ''),
            data: {
                options: {
                    enableTime: true,
                    noCalendar: true,
                    time_24hr: true,
                    disableMobile: true
                }
            }
        }) }}
        {% if task %}
            {{ errorList(task.getErrors('deadline')) }}
        {% endif %}
    </div>

    <div class="form-group mb-3 field-committed">
        <label for="committed" class="required">{{ '$ committed per derail'|t }}</label>
        {{ input('number', 'fields[committed][value]', (task and task.committed) ? task.committed.amount / 100 : 1, {
            id: 'committed',
            class: 'form-control' ~ (task and task.hasErrors('committed') ? ' is-invalid' : ''),
            min: 0.5,
            step: 0.1
        }) }}
        {% if task %}
            {{ errorList(task.getErrors('committed')) }}
        {% endif %}
    </div>

    <div class="form-group mb-3 field-timeBased">
        <div class="form-check form-switch">
            <input type="hidden" name="fields[timeBased]" value="0">
            <input class="form-check-input" type="checkbox" id="timeBased" name="fields[timeBased]" value="1" {% if not task or task.timeBased %}checked{% endif %}>
            <label class="form-check-label" for="timeBased">{{ 'Time based task'|t }}</label>
        </div>
    </div>

    {{ hiddenInput('fields[length]', task ? task.length : 600, {
        id: 'length-seconds'
    }) }}
    <div class="form-group mb-3 field-length">
        <label for="length" class="required">{{ 'Work block length (minutes)'|t }}</label>
        {{ input('number', null, task ? (task.length / 60)|round : 10, {
            class: 'form-control' ~ (task and task.hasErrors('length') ? ' is-invalid' : ''),
            min: 1,
            step: 1
        }) }}
        {% if task %}
            {{ errorList(task.getErrors('length')) }}
        {% endif %}
    </div>

    <div class="form-group mb-3 field-taskType">
        <label class="required">{{ 'More or less of something'|t }}</label>
        <div>
            <div class="form-check form-check-inline">
                <input type="radio" name="fields[taskType]" id="type-more" value="more" {% if task and task.taskType == 'more' or not task %}checked{% endif %}>
                <label class="form-check-label" for="type-more">
                    {{ 'More'|t }}
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="fields[taskType]" id="type-less" value="less" {% if task and task.taskType == 'less' %}checked{% endif %}>
                <label class="form-check-label" for="type-less">
                    {{ 'Less'|t }}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group mb-3 field-recurring">
        <div class="form-check form-switch">
            <input type="hidden" name="fields[recurring]" value="0">
            <input class="form-check-input" type="checkbox" id="recurring" name="fields[recurring]" value="1" {% if not task or task.recurring %}checked{% endif %}>
            <label class="form-check-label" for="recurring">{{ 'Recurring task'|t }}</label>
        </div>
    </div>

    {% set weeks = task ? task.weeks.all() : null %}

    <div class="form-group mb-3 field-repeat">
        <label for="length" class="required">{{ 'Repeat your schedule every 1, 2, 3... weeks'|t }}</label>
        {{ input('number', '', task ? weeks|length : 1, {
            class: 'form-control',
            id: 'repeat-input',
            min: 1,
            step: 1
        }) }}
    </div>

    {% set field = craft.app.fields.getFieldByHandle('weeks') %}
    {% set block_types = craft.superTable.getSuperTableBlocks(field.id) %}
    {% set block_type = block_types.0 %}
    <div class="form-group mb-3 field-weeks">
        <label>{{ 'How many work blocks do you want to do each day?'|t }}</label>
        {% if task %}
            {% for week in weeks %}
                {{ _self.week(week, block_type, copy_id ? 'new' ~ loop.index : week.id) }}
            {% endfor %}
        {% else %}
            {{ _self.week(null, block_type, 'new1') }}
        {% endif %}
    </div>

    <div class="form-group mb-3 field-backgroundColor">
        <label class="form-label">
            {{ 'Background color'|t }}
        </label>
        <input type="color" name="fields[backgroundColor]" class="form-control form-control-color" value="{% if task %}{{ task.backgroundColor ?: '#ffffff' }}{% else %}#ffffff{% endif %}" title="{{ 'Choose your color'|t }}">
    </div>

    {% if task %}
        <div class="form-group mb-3 field-paused">
            <div class="form-check form-switch">
                <input type="hidden" name="fields[paused]" value="0">
                <input class="form-check-input" type="checkbox" id="paused" name="fields[paused]" value="1" {% if task.paused %}checked{% endif %}>
                <label class="form-check-label" for="paused">{{ 'Pause this task'|t }}</label>
            </div>
        </div>
    {% endif %}

    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            {{ 'Submit'|t }}
        </button>
    </div>
</form>