{% set started = currentUser.timerStarted(task) %}
{% set daily_task = task.dailyTask %}
{% set is_active = daily_task and daily_task.isActive %}
{% set status = task.taskStatus %}
{% set length = task.length %}
{% set progress = 0 %}
{% set persec = 0 %}

{% if daily_task %}
    {% set length = daily_task.length %}
    {% if daily_task.isActive %}
        {% set progress = daily_task.getProgress(true) %}
        {% set persec = 1 / length * 100 %}
    {% endif %}
{% endif %}

<a href="{{ task.url }}" class="text-body task-wrapper">
    <div class="square task p-3 bg-task rounded {% if started %}timer-started{% endif %}" data-status="{{ status }}" data-id="{{ task.id }}" data-progress="{{ progress }}" data-persec="{{ persec }}" data-active="{{ is_active }}">
        <div class="d-flex justify-content-between align-items-center">
            <h4>{{ task.title }}</h4>
            <span class="complete-tick if-status-complete"><i class="fa-solid fa-check"></i></span>
        </div>
        <p class="text-light mb-0">{{ task.taskType|ucfirst }} than {{ (length / 60)|round }} min</p>
        <div class="if-active">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <p class="if-status-active m-0">
            {{ 'Minutes until deadline:'|t }} <span class="countdown">{{ task.todayDeadline|minutesToNow }}</span>
        </p>
        <div class="actions d-flex justify-content-between align-items-center mt-2">
            <span class="js-start-timer btn btn-purple2" data-textstart="{{ 'Start'|t }}" data-textstop="{{ 'Stop'|t }}">{% if started %}{{ 'Stop'|t }}{% else %}
                {{ 'Start'|t }}{% endif %}</span>
            <span class="if-active fs-4">${{ task.committed.getAmount / 100 }}</span>
        </div>
        {% if getenv('CRAFT_ENVIRONMENT') == 'local' %}
            {# <p>Today is {{ currentUser.now|date('d/m/Y H:i', currentUser.timezone) }}</p> #}
        {% endif %}
    </div>
</a>