{% set started = currentUser.timerStarted(task.id) %}
{% set daily_task = task.dailyTask %}
{% set status = task.taskStatus %}
{% set length = task.length %}

{% set progress = 0 %}
{% set persec = 0 %}
{% if daily_task %}
    {% set length = daily_task.length %}
    {% if daily_task.isActive %}
        {% set spent = daily_task.getTimeSpent(true) %}
        {% set progress = spent / length * 100 %}
        {% set persec = 1 / length * 100 %}
    {% endif %}
{% endif %}

<a href="{{ task.url }}" class="text-body task-wrapper">
    <div class="square task p-3 bg-task rounded {% if started %}timer-started{% endif %}" data-status="{{ status }}" data-id="{{ task.id }}" data-progress="{{ progress }}" data-persec="{{ persec }}">
        <div class="d-flex justify-content-between align-items-center">
            <h4>{{ task.title }}</h4>
            <span class="complete-tick" {% if status != 'complete' %}style="display: none"{% endif %}><i class="fa-solid fa-check"></i></span>
        </div>
        <p class="text-light">{{ task.taskType|ucfirst }} than {{ (length / 60)|round }} min</p>
        <div class="inner">
            {% include "_includes/tasks/inner" %}
        </div>
        <div class="actions">
            <span class="js-start-timer text-purple2" data-textstart="{{ 'Start'|t }}" data-textstop="{{ 'Stop'|t }}">{% if started %}{{ 'Stop'|t }}{% else %}
                {{ 'Start'|t }}{% endif %}</span>
        </div>
        {% if getenv('CRAFT_ENVIRONMENT') == 'local' %}
            {# <p>Today is {{ currentUser.now|date('d/m/Y H:i', currentUser.timezone) }}</p> #}
        {% endif %}
    </div>
</a>