{% set started = currentUser.timerStarted(task.id) %}

{% set status = task.isActive ? 'active' : 'inactive' %}
{% if task.isActive %}
    {% if task.isComplete %}
        {% set status = 'complete' %}
    {% elseif (task.isExpired) %}
        {% set status = expired %}
    {% endif %}
    {% if task.hasDerailed %}
        {% set status = 'expired' %}
    {% endif %}
{% endif %}

<div class="square task p-3 bg-task border border-2 rounded border-task-{{ status }} {% if started %}timer-started{% endif %}" data-id="{{ task.id }}">
    <h4 class="mb-0">{{ task.title }}</h4>
    <p>{{ task.taskType|ucfirst }} than {{ (task.length / 60)|round }} min</p>
    {% if task.isActive %}
        {% set spent = task.getTimeSpent(null, true) %}
        <div class="progress border border-primary">
            <div class="progress-bar" role="progressbar" style="width: {{ spent / task.duration * 100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% if task.isExpired %}
            <p>{{ 'Next deadline : {time}'|t('site', {time: task.nextDeadline|date('d/m/Y H:i', currentUser.timezone)}) }}</p>
        {% else %}
            <p>{{ 'Next deadline : today at {time}'|t('site', {time: task.todayDeadline|date('H:i', currentUser.timezone)}) }}</p>
        {% endif %}
    {% endif %}
    <div class="actions d-flex justify-content-between align-items-center">
        <a href="#" class="js-delete-task" data-id="{{ task.id }}" data-bs-toggle="modal" data-bs-target="#delete-task-modal"><i class="fa-solid fa-trash click-through"></i></a>
        <i class="fa-solid fa-up-down-left-right handle"></i>
        <a href="{{ task.url }}"><i class="fa-solid fa-eye click-through"></i></a>
    </div>
</div>