{% extends "_layouts/entry" %}
{% requireLogin %}

{% set requires_valid_subscription = true %}

{% if currentUser.id != entry.author.id %}
    {% exit 403 %}
{% endif %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\TaskPage') %}

{% do craft.puzzlers.registerJsTranslations('site', [
    'Time entries',
    'Add time entry',
    'Close',
    'Delete time entry',
    'Add time entry',
    'Edit time entry',
    'This will delete the time entry, are you sure ?',
    'Time entry deleted',
    'Could not delete time entry',
    'Start date',
    'No time entries recorded yet'
]) %}

{% block content %}
    <div class="container">
        <div class="mb-3">
            <a href="/tasks" class="text-purple2"><i class="fa-solid fa-arrow-left"></i> {{ 'Back'|t }}</a>
        </div>
        <h1>{{ entry.title }}</h1>
        <div class="row">
            <div class="col-6">{{ 'Starting date'|t }}</div>
            <div class="col-6">{{ entry.startDate|date('short', currentUser.timezone) }}</div>
            <div class="col-6">{{ 'Deadline'|t }}</div>
            <div class="col-6">{{ entry.deadline|time('short') }}</div>
            <div class="col-6">{{ 'Type'|t }}</div>
            <div class="col-6">{{ entry.taskType.label }}</div>
            {% if entry.taskType in ['more', 'less'] %}
                <div class="col-6">{{ 'Length'|t }}</div>
                <div class="col-6">{{ entry.length / 60 }}min</div>
            {% endif %}
            <div class="col-6">{{ 'Committed'|t }}</div>
            <div class="col-6">{{ entry.committed|money }}</div>
            <div class="col-6">{{ 'Paused'|t }}</div>
            <div class="col-6">{{ entry.paused ? 'Yes'|t : 'No'|t }}</div>
            {% if entry.backgroundColor %}
                <div class="col-6">{{ 'Background color'|t }}</div>
                <div class="col-6">
                    <div class="background-color rounded" style="background-color: {{ entry.backgroundColor }};"></div>
                </div>
            {% endif %}
            <div class="col-12 mt-3">
                <a class="btn btn-primary" href="/edit-task?id={{ entry.id }}">{{ 'Edit'|t }}</a>
                <a class="btn btn-secondary" href="/tasks/new?copy={{ entry.id }}">{{ 'Copy'|t }}</a>
            </div>
        </div>
        <h2 class="mt-3">{{ 'Time entries'|t }}</h2>
    </div>
    <div id="timesheet-list">
        {% set section = craft.app.sections.getSectionByHandle('timesheet') %}
        <timesheet-list :task-id="{{ entry.id }}" :section-id="{{ section.id }}"></timesheet-list>
    </div>
{% endblock %}