{% import "_helpers/errors" as errors %}
{% set user = user ?? currentUser %}

<div class="modal fade" tabindex="-1" id="change-password-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="password-form">
                {{ csrfInput() }}
                {{ actionInput('users/save-user') }}
                {{ hiddenInput('userId', user.id) }}
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Change password'|t }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3 field-newPassword">
                        <label for="new-password">{{ 'New Password'|t }}</label>
                        {{ input('password', 'newPassword', null, {
                            id: 'new-password',
                            class: 'form-control ' ~ (user.hasErrors('newPassword') ? 'is-invalid'),
                            autocomplete: 'new-password-do-not-autocomplete',
                            placeholder: 'New Password'
                        }) }}
                        {{ errors.errorList(user.getErrors('newPassword')) }}
                    </div>

                    <div class="form-group mb-3 field-currentPassword">
                        <label for="current-password">{{ 'Enter your current password to allow your changes'|t }}</label>
                        {{ input('password', 'password', null, {
                            id: 'current-password',
                            class: 'form-control ' ~ (user.hasErrors('currentPassword') ? 'is-invalid'),
                            autocomplete: 'current-password-do-not-autocomplete',
                            placeholder: 'Current password'
                        }) }}
                        {{ errors.errorList(user.getErrors('currentPassword')) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|t }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Save'|t }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
