{% extends "_layouts/entry" %}
{% requireLogin %}

{% set requires_valid_paymentmethod = true %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\AnalyticsPage') %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">{{ entry.title }}</h1>
        <div id="analytics">
            <analytics
                :today="'{{ currentUser.today|date('Y-m-d') }}'"
                :last-week="'{{ currentUser.today|date_modify('-1 week')|date('Y-m-d') }}'"
                :last-year="'{{ currentUser.today|date_modify('-1 year')|date('Y-m-d') }}'"
                :tasks="{{ craft.tasks.tasks|json_encode }}"
                :metrics="{{ craft.analytics.getMetrics(currentUser)|json_encode }}"
                :group-bys="{{ craft.analytics.getChartFieldOptions('groupBy')|json_encode }}"
                :date-ranges="{{ craft.analytics.getChartFieldOptions('dateRange')|json_encode }}"
                :chart-types="{{ craft.analytics.getChartFieldOptions('chartType')|json_encode }}"
                :data-tracked="{{ craft.analytics.getChartFieldOptions('dataTracked')|json_encode }}"
                :sizes="{{ craft.analytics.getChartFieldOptions('size')|json_encode }}"
                :charts="{{ currentUser.charts|map(c => craft.analytics.getJsonChart(c))|json_encode }}"
            >
            </analytics>
        </div>
    </div>
{% endblock %}