{% extends "_layouts/entry" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\AddTaskPage') %}

{% if not task is defined %}
    {% set task = craft.entries.section('task').authorId(currentUser.id).id(craft.app.request.getRequiredParam('id')).one() %}
    {% if not task %}
        {% exit 404 %}
    {% endif %}
{% endif %}

{% block content %}
    <div class="container container-small">
        <div class="mb-3">
            <a href="{{ task.url }}" class="text-purple2"><i class="fa-solid fa-arrow-left"></i> {{ 'Back'|t }}</a>
        </div>
        <h1 class="text-center">{{ 'Edit task'|t('site') }}</h1>
        {% include "_includes/tasks/form" %}
        {% if task.id %}
            <a href="#" class="js-delete-task btn btn-danger mt-5" data-id="{{ task.id }}" data-bs-toggle="modal" data-bs-target="#delete-task-modal">{{ 'Delete task'|t }}</a>
            {% include "_includes/tasks/delete-modal" %}
            {% include "_includes/tasks/warning-modal" %}
        {% endif %}
    </div>
{% endblock %}