{% extends "_layouts/matrix-content" %}
{% requireLogin %}

{% block after_content_matrix %}
    <div class="container">
        {% set tasks = craft.entries.section('task').authorId(currentUser.id).anyStatus().orderBy('order asc').all() %}
        {% if tasks %}
            <div class="row fw-bold">
                <div class="col-5">{{ 'Task'|t }}</div>
                <div class="col-3">{{ 'Worked'|t }}</div>
                <div class="col-2">{{ 'Derailed'|t }}</div>
                <div class="col-2">{{ 'Spent'|t }}</div>
            </div>
            {% set total_worked = 0 %}
            {% set total_derailed = 0 %}
            {% set total_spent = 0 %}
            {% for task in tasks %}
                {% set total_worked = total_worked + task.getTotalWorked %}
                {% set total_derailed = total_derailed + task.getTotalDerailed() %}
                {% set total_spent = total_spent + task.getTotalSpent() %}
                <div class="row">
                    <div class="col-5">{{ task.title }}{% if not task.enabled %} {{ '(deleted)'|t }}{% endif %}</div>
                    <div class="col-3">{{ task.getTotalWorked(true) }}</div>
                    <div class="col-2">{{ task.getTotalDerailed() }}</div>
                    <div class="col-2">${{ task.getTotalSpent() }}</div>
                </div>
            {% endfor %}
            <div class="row fw-bold">
                <div class="col-5"></div>
                <div class="col-3">{{ total_worked|friendlyTimeSpent }}</div>
                <div class="col-2">{{ total_derailed }}</div>
                <div class="col-2">${{ total_spent }}</div>
            </div>
        {% else %}
            <p>{{ 'No insights yet, come back later'|t }}</p>
        {% endif %}
    </div>
{% endblock %}