{% extends "_layouts/matrix-content" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\MyAccountPage') %}
{% set method = currentUser.getPaymentMethod() %}

{% block after_content_matrix %}
    <div class="container text-center">
        <h2>{{ 'My Subscription'|t }}</h2>
        {% if currentUser.stripeSessionId %}
            <form method="post">
                {{ actionInput('plugin-stripe/stripe/create-portal-session') }}
                {{ csrfInput() }}
                <button class="btn btn-primary my-3" type="submit">{{ 'Manage my subscription'|t }}</button>
            </form>
        {% endif %}
        <h2>{{ 'Payment method'|t }}</h2>
        {% if method %}
            <p>{{ '{type} ending in {ends}'|t('site', {
                type: method.card.brand|ucfirst,
                ends: method.card.last4
                }) }}{% if method.card.exp_year %}{{ ', expiring in {date}'|t('site', {
                    date: method.card.exp_month ~ '/' ~ method.card.exp_year
                }) }}{% endif %}</p>
        {% endif %}
        <h2>{{ 'Update details'|t }}</h2>
        <div class="d-flex justify-content-center">
            {% include "_includes/user/account-form" %}
        </div>
        <h2>{{ 'Password'|t }}</h2>
        <a href="#change-password-modal" class="btn btn-primary my-3" type="button" data-bs-toggle="modal">{{ 'Change password'|t }}</a>
    </div>
    {% include "_includes/user/change-password-modal" %}
{% endblock %}