{% extends "_layouts/entry" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\MyAccountPage') %}
{% set method = currentUser.getPaymentMethod() %}

{% block before_content %}
    {{ parent() }}
    {% if craft.app.request.getQueryParam("errorCard") %}
        <div class="container">
            <div class="alert alert-warning">
                {{ 'Please setup a card to be able to use Mast'|t }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container container-small text-center">
        <h1 class="mb-4">{{ entry.title }}</h1>
        <h2 class="my-3">{{ 'Payment method'|t }}</h2>
        {% if method %}
            {% if method.card is defined %}
                <p>{{ '{type} ending in {ends}'|t('site', {
                    type: method.card.brand|ucfirst,
                    ends: method.card.last4
                    }) }}{% if method.card.exp_year %}{{ ', expiring in {date}'|t('site', {
                        date: method.card.exp_month ~ '/' ~ method.card.exp_year
                    }) }}{% endif %}
                </p>
            {% endif %}
            <form method="post">
                {{ actionInput('plugin-stripe/stripe/retrieve-portal-session') }}
                {{ csrfInput() }}
                <button class="btn btn-primary" type="submit">{{ 'Manage payment method'|t }}</button>
            </form>
        {% else %}
            <form method="post">
                {{ actionInput('plugin-stripe/stripe/create-checkout-session') }}
                {{ hiddenInput('mode', 'setup') }}
                {{ csrfInput() }}
                <button class="btn btn-primary" type="submit">{{ 'Setup card'|t }}</button>
            </form>
        {% endif %}
        <h2 class="my-3">{{ 'Update details'|t }}</h2>
        <div class="d-flex justify-content-center">
            {% include "_includes/user/account-form" %}
        </div>
        <h2 class="my-3">{{ 'Password'|t }}</h2>
        <a href="#change-password-modal" class="btn btn-primary" type="button" data-bs-toggle="modal">{{ 'Change password'|t }}</a>
    </div>
    {% include "_includes/user/change-password-modal" %}
{% endblock %}
