{% extends "_layouts/entry" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\AddTaskPage') %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ entry.title }}</h1>
        <div class="d-flex justify-content-center">
            <form id="add-task-form">
                {{ csrfInput() }}
                {{ actionInput('plugin-tasks/tasks/save-blocks') }}
                <div class="form-group mb-3 field-name">
                    <label for="name" class="required">{{ 'Name'|t }}</label>
                    {{ input('text', 'name', '', {
                        id: 'name',
                        class: 'form-control'
                    }) }}
                </div>

                <div class="form-group mb-3 field-startDate">
                    <label for="startDate" class="required">{{ 'Start date'|t }}</label>
                    <input type="hidden" class="timezone" name="startDate[timezone]" value="{{ craft.app.timezone }}">
                    {{ input('text', 'startDate[date]', now|date('Y-m-d'), {
                        id: 'startDate',
                        class: 'form-control datepicker',
                        data: {
                            options: {
                                minDate: now|date('Y-m-d'),
                            }
                        }
                    }) }}
                </div>

                <div class="form-group mb-3 field-length">
                    <label for="length" class="required">{{ 'Work block length (minutes)'|t }}</label>
                    {{ input('number', 'length', 10, {
                        id: 'length',
                        class: 'form-control',
                        min: 1,
                        step: 1
                    }) }}
                </div>

                <div class="form-group mb-3">
                    <label for="deadline" class="required">{{ 'Deadline'|t }}</label>
                    {{ input('text', 'deadline', '23:59', {
                        id: 'deadline',
                        class: 'form-control datepicker',
                        data: {
                            options: {
                                enableTime: true,
                                noCalendar: true,
                                time_24hr: true
                            }
                        }
                    }) }}
                </div>

                <div class="form-group mb-3">
                    <label for="repeat">{{ 'Repeat blocks every'|t }}</label>
                    <select name="repeat" class="form-control" id="repeat">
                        <option value="">{{ 'Do not repeat'|t }}</option>
                        <option value="day">{{ 'Day'|t }}</option>
                        <option value="week">{{ 'Week'|t }}</option>
                        <option value="month">{{ 'Month'|t }}</option>
                    </select>
                </div>

                <div class="form-group mb-3 field-until" style="display:none">
                    <label for="until" class="required">{{ 'Until'|t }}</label>
                    <input type="hidden" class="timezone" name="until[timezone]" value="{{ craft.app.timezone }}">
                    {{ input('text', 'until[date]', '', {
                        id: 'until',
                        class: 'form-control datepicker',
                        data: {
                            options: {
                                minDate: now|date_modify("+1 day")|date('Y-m-d'),
                            }
                        }
                    }) }}
                </div>

                <div class="form-group mb-3 field-days">
                    <label>{{ 'How many work blocks do you want to do each day?'|t }}</label>
                    <div class="d-flex">
                        <div class="d-flex flex-column me-1">
                            <label>{{ 'Mon'|t }}</label>
                            {{ input('number', 'days[Mon]', 1, {
                                id: 'committed',
                                class: 'form-control',
                                min: 0,
                                step: 1
                            }) }}
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column me-1">
                                <label>{{ 'Tue'|t }}</label>
                                {{ input('number', 'days[Tue]', 1, {
                                    id: 'committed',
                                    class: 'form-control',
                                    min: 0,
                                    step: 1
                                }) }}
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column me-1">
                                <label>{{ 'Wed'|t }}</label>
                                {{ input('number', 'days[Wed]', 1, {
                                    id: 'committed',
                                    class: 'form-control',
                                    min: 0,
                                    step: 1
                                }) }}
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column me-1">
                                <label>{{ 'Thu'|t }}</label>
                                {{ input('number', 'days[Thu]', 1, {
                                    id: 'committed',
                                    class: 'form-control',
                                    min: 0,
                                    step: 1
                                }) }}
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column me-1">
                                <label>{{ 'Fri'|t }}</label>
                                {{ input('number', 'days[Fri]', 1, {
                                    id: 'committed',
                                    class: 'form-control',
                                    min: 0,
                                    step: 1
                                }) }}
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column me-1">
                                <label>{{ 'Sat'|t }}</label>
                                {{ input('number', 'days[Sat]', 1, {
                                    id: 'committed',
                                    class: 'form-control',
                                    min: 0,
                                    step: 1
                                }) }}
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column me-1">
                                <label>{{ 'Sun'|t }}</label>
                                {{ input('number', 'days[Sun]', 1, {
                                    id: 'committed',
                                    class: 'form-control',
                                    min: 0,
                                    step: 1
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3 field-committed">
                    <label for="committed" class="required">{{ '$ committed per derail'|t }}</label>
                    {{ input('number', 'committed', 1, {
                        id: 'committed',
                        class: 'form-control',
                        min: 1,
                        step: 1
                    }) }}
                </div>

                <div class="form-group mb-3">
                    <button type="sumit" class="btn btn-primary">{{ 'Submit'|t }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}