{% extends "_layouts/matrix-content" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\TasksPage') %}

{% block before_content %}
    {{ parent() }}
    {% if currentUser.isOnScheduledBreak(now) %}
        <div class="container">
            <div class="alert alert-warning" role="alert">
                {{ "All your tasks are inactive as you're on a scheduled break today"|t }}
            </div>
        </div>
    {% else %}
        <div class="container unlimited-break-message" {% if not currentUser.isOnUnlimitedBreak() %}style="display:none"{% endif %}>
            <div class="alert alert-warning" role="alert">
                {{ "All your tasks are inactive as you're on a unlimited break"|t }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ entry.title }}</h1>
            <div>
                <a href="#unlimited-break-modal" data-bs-toggle="modal" class="me-2 js-unlimited-break {% if not currentUser.unlimitedBreakStart %}text-body{% endif %}"><i class="fa-solid fa-pause fs-3"></i></a>
                <a href="/tasks/new"><i class="fa-solid fa-plus fs-3 text-body"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block after_content_matrix %}
    <div class="container">
        {% set tasks = craft.entries.section('task').with('icon').authorId(currentUser.id).orderBy('order').all() %}
        {% if tasks %}
            <div class="row" id="sortable">
                {% for task in tasks %}
                    <div class="col-12 col-md-6 col-lg-4 py-3 task-wrapper">
                        {% include "_includes/tasks/square" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ 'You have no tasks yet'|t }}</p>
        {% endif %}
    </div>
    {% include "_includes/breaks/unlimited-modal" %}
{% endblock %}