<div class="modal fade" tabindex="-1" id="unlimited-break-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Unlimited break'|t }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ csrfInput() }}
                    {{ actionInput('plugin-users/breaks/unlimited-break') }}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="unlimitedBreak" name="unlimitedBreak" {% if currentUser.unlimitedBreakStart %}checked{% endif %}>
                        <label class="form-check-label" for="unlimitedBreak">{{ "I'm on a unlimited break"|t }}</label>
                        <div class="form-text">{{ 'All your tasks will be paused until you switch this off'|t }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|t }}</button>
                    <button type="submit" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                        {{ 'Save'|t }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
