{% extends "_layouts/base" %}
{% import "_helpers/images" as images %}

{% if currentUser and currentUser.subscriptionStatus != 'active' and (entry.requiresValidSubscription ?? false) %}
    {% redirect '/pay-subscription' %}
{% endif %}

{% if currentUser %}
    {% do eagerLoadElements(currentUser, [
        'timer.timer:task'
    ]) %}
{% endif %}

{% do craft.prefetch.asynchronousFont('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap') %}
{% do craft.puzzlers.registerGlobalJs('csrfTokenName', craft.app.config.general.csrfTokenName) %}
{% do craft.puzzlers.registerGlobalJs('csrfToken', craft.app.request.csrfToken) %}
{% set imagery = craft.entries.section('imagery').with(['image', 'favicon']).one() %}
{% set seo = entry.basicSeo %}
{% set body_classes = 'entry ' ~ entry.slug %}
{% set favicon = imagery.favicon.first %}
{% set main_classes = 'py-3' %}

{% block head_extra %}
    {% hook "jsGlobals" %}
{% endblock %}

{% block before_end_body_tag %}
    {# {{ craft.twigpack.includeSafariNomoduleFix() }} #}
    <div id="noscript-wrapper">
        <div class="content">
            {{ 'You must enable javascript to view this website'|t }}
        </div>
    </div>
    <script>
        document.body.style.opacity = 0;
        document.getElementById('noscript-wrapper').style.display = 'none';
    </script>
{% endblock %}

{% block header %}
    {% block header_top %}
        {% cache %}
            <div class="header-fixed position-fixed w-100 py-2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <a href="/" class="d-flex">
                                <div class="logo">
                                    {% if imagery.image.0 is defined %}
                                        {{ images.responsiveImg(imagery.image.first, [
                                            {width: 55}
                                        ], {}, 55) }}
                                    {% endif %}
                                </div>
                                <div class="site-name">{{ siteName }}</div>
                            </a>
                        </div>
                        <div class="col d-flex justify-content-end">
                            {% set menu = craft.menus.getMenu('main-navigation') %}
                            {% if menu %}
                                <nav class="navbar navbar-expand-lg navbar-light text-center">
                                    {% include "_menus/menu" %}
                                    <button class="mobilenav-toggler collapsed d-flex d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.htmlId }}">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-height"></div>
        {% endcache %}
    {% endblock %}

    {% block header_banner %}
    {% endblock %}
{% endblock %}

{% block before_content %}
    {% if currentUser and currentUser.paymentMethodExpiresSoon %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ 'Your payment method is expiring soon, make sure you add a new one {link}here{endlink}'|t('site', {
                    link: '<a href="/save-card">',
                    endlink: '</a>'
                })|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
