{% extends "_layouts/base" %}
{% import "_helpers/images" as images %}

{% set requires_valid_paymentmethod = requires_valid_paymentmethod ?? false %}

{% if requires_valid_paymentmethod and not currentUser.paymentMethod %}
    {% redirect '/my-account?errorCard=1' %}
{% endif %}

{% if currentUser %}
    {% do eagerLoadElements(currentUser, [
        'timer.timer:task'
    ]) %}
{% endif %}

{% do craft.prefetch.asynchronousFont('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap') %}
{% do craft.puzzlers.registerJsGlobal('timezone', currentUser ? currentUser.timezone : '') %}
{% do craft.puzzlers.registerJsGlobal('refusedTimezoneChange', craft.app.session.get('refusedTimezoneChange', false)) %}
{% do craft.puzzlers.registerJsGlobal('loggedIn', currentUser ? true : false) %}
{% set imagery = craft.entries.section('imagery').with(['image', 'favicon']).one() %}
{% set seo = entry.basicSeo %}
{% set body_classes = 'entry ' ~ entry.slug %}
{% set favicon = imagery.favicon.first %}
{% set main_classes = 'py-3' %}

{% block before_end_body_tag %}
    {{ craft.twigpack.includeSafariNomoduleFix() }}
    <div id="noscript-wrapper">
        <div class="content">
            {{ 'You must enable javascript to view this website'|t }}
        </div>
    </div>
    <script>
        document.body.style.opacity = 0;
        document.getElementById('noscript-wrapper').style.display = 'none';
    </script>
{% endblock %}

{% block header %}
    {% block header_top %}
        <div class="header-fixed position-fixed w-100 py-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="/" class="d-flex">
                            <div class="site-name text-body fw-bold">{{ siteName|upper }}</div>
                        </a>
                    </div>
                    <div class="col d-flex justify-content-end">
                        {% set menu = craft.menus.getMenu('main-navigation') %}
                        {% if menu %}
                            <nav class="navbar navbar-expand-lg navbar-light text-center">
                                {% include "_menus/menu" %}
                                <button class="mobilenav-toggler collapsed d-flex d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.htmlId }}">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="header-height"></div>
    {% endblock %}
    <div id="change-timezone-message" class="bg-warning" style="display: none">
        <div class="container py-3">
            <div class="d-flex flex-wrap justify-content-between">
                <p class="m-0">{{ "It looks like you are now in {current} timezone, would you like to change your timezone ?"|t('site', {
                    current: '<span class="current"></span>'
                })|raw }}</p>
                <div>
                    <a href="#" class="js-yes">{{ 'Yes'|t }}</a>
                    <a href="#" class="js-no ms-2">{{ 'No thanks'|t }}</a>
                </div>
            </div>
        </div>
    </div>
    {% block header_banner %}
    {% endblock %}
{% endblock %}

{% block before_content %}
    {% if currentUser and currentUser.paymentMethodExpiresSoon %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ 'Your payment method is expiring soon, make sure you add a new one {link}here{endlink}'|t('site', {
                    link: '<a href="/my-account">',
                    endlink: '</a>'
                })|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    {% if currentUser and currentUser.paymentMethodHasExpired and not currentUser.lastChargeFailed %}
        <div class="container">
            <div class="alert alert-danger show" role="alert">
                {{ 'Your payment method has expired, make sure you add a new one {link}here{endlink}'|t('site', {
                    link: '<a href="/my-account">',
                    endlink: '</a>'
                })|raw }}
            </div>
        </div>
    {% endif %}
    {% if currentUser and currentUser.lastChargeFailed %}
        <div class="container">
            <div class="alert alert-danger show" role="alert">
                {{ "We're unable to charge you for derails, please update your payment details {link}here{endlink}"|t('site', {
                    link: '<a href="/my-account">',
                    endlink: '</a>'
                })|raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if currentUser %}
        <div class="bg-light">
            <div class="container py-3">
                Your timezone is {{ currentUser.timezone }}, now is {{ currentUser.now|date('d/m/Y H:i', currentUser.timezone) }}.
            </div>
        </div>
    {% endif %}
{% endblock %}
